:root {font-size: 62.5%;}

html {
    box-sizing: border-box;
    font-size: 1.6rem;
    background: #eee;

}

body {
    background: #eee;
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background: #fff;
}

/* do dokonczenia, filmik 3 - 2:00 */

.box {
    height: 10rem;
    min-width: 10rem;
    font-size: 10rem;
    flex-grow: 1;
}

.one {
    background: red;
}

.two {
    background: blue;
}

.three {
    background: blueviolet;
}
